@import "tailwindcss";

@keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(244, 245, 244, 0);
  }
}

.border-pulse:active {
  animation: borderPulse 0.6s ease-out;
}


@keyframes borderPulse2 {
  0% {
    box-shadow: 0 0 0 0 rgba(126, 217, 87, 0.7);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(126, 217, 87, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(126, 217, 87, 0);
  }
}

/* Apply pulse continuously to the active button */
.border-pulse2 {
  animation: borderPulse2 1.2s ease-out infinite;
}


@keyframes borderPulse3 {
  0% {
    box-shadow: 0 0 0 0 rgba(126, 217, 87, 0.7);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(126, 217, 87, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(126, 217, 87, 0);
  }
}

/* Apply pulse continuously to the active button */
.border-pulse3:active  {
  animation: borderPulse2 0.9s ease-out ;
}