/* @import "tailwindcss";

body {
  width: 1440px;
  height: 100vh;
  margin-inline: auto;
} */

@import "tailwindcss";

@font-face {
  font-family: "Alinur";
  src: url("./assets/font/Li\ Alinur\ Banglaborno\ ANSI\ V2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
    font-family: "Alinur", sans-serif;
  background-color: #fff;
}